.splash__intro h1 {
    font-size: 100px;
    color: rgb(214, 214, 214);
    text-align: center;
}
.splash__intro h2 {
    font-size: 40px;
    color: rgb(214, 214, 214);
    max-width: 60%;
    text-align: center;
    margin: auto auto;
}
h3 {
    font-size: 30px;
    color: rgb(214, 214, 214);
    max-width: 60%;
    text-align: center;
    margin: auto auto;
}
